{% extends "quote/main.html" %}

{% block title %}Idézetek{% endblock %}

{% block content %}

{% for quote in quotes %}
<div class='quote-container'>
    <q class='quote-text'>{{quote.quote}}</q>
    <div class='quote-author'>{{quote.author}}</div>
    {% if quote.user == request.user %}
        <div class="dropdown quote-option-menu">
            <button class="btn btn-sm btn-default dropdown-toggle" type="button"
            data-toggle="dropdown"><i class='fa fa-bars'></i></button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'quoteModify' quote.id %}">Módosítás</a></li>
                    <li>
                        <form method='POST' action='{% url 'deleteQuote' %}' class='delete-form'>
                            <input type='hidden' name='id' value='{{quote.id}}' />
                            <input type='hidden' name='next' value={{request.get_full_path}} />
                            <input type='submit' nane='deleteQuote' value='Törlés' />
                            {% csrf_token %}
                        </form>
                    </li>
                </ul>
       </div>
    {% endif %}
</div>
{% endfor %}

<ul class="pagination">
        {% if quotes.has_previous %}
            <li><a href="?page={{ quotes.previous_page_number }}">&lt;&lt;</a></li>
        {% endif %}

        {% for i in quotes.paginator.page_range %}
            {% if i == quotes.number %}
                <li class='active'><a href="?page={{ i }}">{{ i }}</a></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if quotes.has_next %}
            <li><a href="?page={{ quotes.next_page_number }}">&gt;&gt;</a></li>
        {% endif %}
</ul>

{% endblock %}
