{% extends "quote/main.html" %}

{% block title %}Idézetek{% endblock %}

{% block content %}

<form method="GET" action='' id='search-form'>
    {{searchForm.as_p}}
    <button type='submit' class='btn btn-primary' ><i class='fa fa-search'></i></button>
</form>

{% for quote in quotes %}
    {% include 'quote/quoteContainer.html' %}
{% endfor %}

{% if not quotes %}
    <div class="alert alert-warning">Nincs találat</div>
{% endif %}

{% include 'quote/paginator/pagination.html' %}
{% include 'quote/ajax/favoritesAjax.html' %}

{% endblock %}
