<!DOCTYPE html>
<html lang="en">
  <head>
      {% load staticfiles %}
      {% load login_form %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href={% static 'quote/css/style.min.css' %} >
  </head>
  <body>
      <div id='header'>
          {% if request.user.is_authenticated %}
              <div class='logged-in-user'>
                  Bejelentkezve: <span class='username'>{{request.user.username}}</span>
                  <a href='{% url 'logout' %}' class='btn btn-primary'>Kijelentkezés</a>
              </div>
          {% else %}
              <div class='login-form'>
                  {% login_form %}
              </div>
              <a href='{% url 'registration' %}' class='btn btn-primary registration-button'>Regisztráció</a>
              {% if request.loginError == True %}
                  <span class='error1'>Sikertelen bejelentkezés. Rossz jelszó vagy felhasználónév</span>
              {% endif %}
          {% endif %}
      </div>

    <div id='main-container'>
        <div id='menu-container'>
            <nav class='navbar navbar-inverse'>
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'homepage' %}">Idézetek</a></li>
                    <li><a href="{% url 'categories' %}">Kategóriák</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'addQoute' %}">Új idézet hozzáadása</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div id='content-container'>
          {% block content %}{% endblock %}
        </div>
        <div id='footer'>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
