{% extends "quote/main.html" %}

{% block title %}Profilkép{% endblock %}

{% block content %}

<div class = 'page_title'>Profilkép</div>

<form id='pictureUploadForm' novalidate action='' method="POST"  enctype="multipart/form-data">
    {% for field in form %}
    <p>
        <label>{{field.label}}:</label>
        {{field}}
        <span class='errorlist'>{{field.errors.as_text|cut:'*'}}</span>
    </p>
    {% endfor %}
    {% csrf_token %}
    <input type='submit' name='upload' value='Feltöltés' class='btn btn-primary' />
</form>
{% if success %}
    <br /><div class='alert alert-success'>Sikeres feltöltés</div>
{% endif %}

{% endblock %}
